.reg-header {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}

.reg-input {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
}

.reg-title {
  font-size: 14px;
  text-transform: uppercase;
}

.reg-form {
  display: flex;
  flex-direction: column;
}
.error-message {
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d6d6;
}
